.board {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.grid-board {
  display: grid;
  gap: 20px;
  width: fit-content;
  margin: 10% auto;
  align-items: center;
}

.grid-board.large {
  grid-template-columns: repeat(8, 1fr);
}

.grid-board.small {
  grid-template-columns: repeat(4, 1fr);
}
.rows-16 {
  margin: 10px auto;
}
