.card {
  width: 100px;
  height: 150px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  img {
    width: 100px;
    height: 150px;
  }
}

.card-front {
  transform: rotateY(180deg);
  img {
    object-fit: contain;
    width: 115px;
    height: calc(115px * 1.5);
  }
}

.card-back {
  background: #bbb;
  color: white;
  text-align: center;
  line-height: 150px;
  img {
    object-fit: cover;
    width: 100px;
    height: 150px;
  }
}
@keyframes pulseAndHide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.matched {
  animation: pulseAndHide 0.8s ease-in-out 1 forwards;
  -webkit-animation: pulseAndHide 0.8s ease-in-out 1 forwards;
}